<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209553783215-r4g3snvljnbre0relr91k2dtmh42su3u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209553783215-r4g3snvljnbre0relr91k2dtmh42su3u</string>
	<key>API_KEY</key>
	<string>AIzaSyAiwXxQt2vzDCenFf743Pi0N6Wb7nYlOU8</string>
	<key>GCM_SENDER_ID</key>
	<string>209553783215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uspray.prayhelper</string>
	<key>PROJECT_ID</key>
	<string>test-5c2df</string>
	<key>STORAGE_BUCKET</key>
	<string>test-5c2df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:209553783215:ios:5e26f273845dd45ba2d75a</string>
</dict>
</plist>
